/* style.css - single-page-application-project */

body {
	font: 14px/1.5em "Oxygen", sans-serif;
	background: #131312;
}

h1,
h2,
h3 {
	font-family: 'Jura', sans-serif;
}

h1 {
	font: 2em/1.5em "Jura", sans-serif;
	margin-top: 5%;
}

h2 {
	font: 1.3em/1.5em "Jura", sans-serif;
}

h3 {
	font: 1.2em/1.5em "Jura", sans-serif;
}

hr {
	border: 1px dotted #3fedb1;
}

button {
	cursor: pointer;
}

img {
	width: 200px;
    max-width: 100%;
    margin: 10px;
}

/* styles for preloader */
.loading {
	margin-top: 300px;
	text-align: center;
	text-transform: uppercase;
	font: 1.5em/1.5em sans-serif;
	color: #3fedb1;
}

.preloader {
	bottom:0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 3000;
	background: #131312;
}
/* end - preloader styles */

.title-text {
	font: 0.5em/1.5em "Codystar", sans-serif;
	color: #3fedb1;
}

.feature-text {
	font: 1.5em/1.5em "Codystar", sans-serif;
	color: #e8ff00;
}

/* google map styles*/
#map {
	bottom:0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
}

.places-info-box {
    margin: 1em;
    font-size: 14px;
    color: black;
}

.places-text {
	font: 14px/0.1em "Oxygen", sans-serif;
}

.map-info-box {
	border: 2px dotted #3fedb1;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    font-size: 18px;
    color: black;
}

.info-box-button {
	display: block;
    margin: 20px auto;
}

.box-text {
	font: 14px/1.5em "Oxygen", sans-serif;
}

.street-view {
	width: 250px;
	height: 250px;
}

.map-error { /* google map error message styles */
    padding: 1em;
    margin: 10% auto;
    text-align: center;
    max-width: 70%;
    color: white;
    background: #131312;
    border: 1px solid #422921;
}
/* end - google map styles */


/* slide menu icon styles */
.slide-menu-toggle {
	position: fixed;
	top: 2%;
	right: 3%;
	z-index: 700;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(0, 0, 0, 0.88);
	cursor: pointer;
}

.slide-menu-toggle:hover {
	background: white;
    transition: background .2s ease;
}

.bar {
    width: 25px;
    padding-top: 6px;
    margin: 0 auto;
    border-bottom: 2px solid #3fedb1;
    display: block;
}

.top-bar {
	padding-top: 14px
}
/* end - slide menu icon styles */

/* slide menu styles */
.slide-menu {
	position: absolute;
	top: 0;
	left: 0;
	transition: left 0.9s ease;
	width: 500px;
	max-width: 100%;
	height: 100%;
	background: #131312;
	color: white;
	text-align: center;
	z-index: 300;
	border-right: 2px solid #3fedb1;
	overflow: hidden;
	transition: left 0.9s ease;
}

.inner {
	overflow: auto;
	height: 99%;
	-ms-overflow-style: none; /* hide scrollbars in IE 10+ - ref #1.*/
}

::-webkit-scrollbar {
	display: none; /* hide scrollbars in webkit-based browsers - ref #1.*/
}

.number-text {
	font: 1.2em/1.5em "Codystar", sans-serif;
    color: #e8ff00;
}

.closemenu {
	position: absolute;
	top: 0;
	left: -600px;
	transition: left 0.9s ease;
}

.place-list {
	width: 80%;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
}

.place-item {
	background: #232222;
	padding: 0.5em;
	border-bottom: 1px solid #53536d;
	cursor: pointer;
	text-transform: uppercase;
}

.place-item:hover {
	background: black;
    transition: background .5s ease;
	color: #3fedb1;
	border-bottom: 1px solid #3fedb1;
}

.mobile-map-button {
	margin-top: 1rem;
}
/* end - slide menu styles */

/* map info screen styles */
.map-info {
	padding: 2em 1em;
	position: absolute;
	top: 0px;
	background: #131312;
	border-bottom: 1px solid #3fedb1;
	z-index: 1000;
	color: white;
	opacity: 1;
	transition: opacity 2s ease;
	width: 100%;
	min-height: 100%;
}

.custom-button {
	background: #272827;
	margin: 1em 0.5em 1em 0;
}

.place-category {
	color: #af7575;
}

.wiki-link {
	list-style-type: none;
	font-size: 1.2em;
}

.wikipedia-links {
	padding: 0;
}

.info-search {
    padding: 0;
}

.load-error { /* error message styles */
	border: 1px solid #422921;
	padding: 1em;
}
/* end - map info screen styles */

/* bootstrap styles */
.input-group {
    padding: 1em 0;
}

.btn-success:focus {
    box-shadow: none;
}

.btn-secondary {
    background-color: #52cd52;
}

.btn-secondary:hover {
    color: #3fedb1;
	background: black;
}

.form-control {
	width: 80%;
	margin: 0 auto;
	border: 1px solid #3fedb1;
}

.close {
    font-size: 1.7rem;
    color: #3fedb1;
    opacity: 1;
    outline: none;
    margin: 0.5em;
}

/* Media queries ====================================================================================================================================================*/

@media only screen and (min-width: 500px) {
	/* styles applied above 500px */
	.slide-menu-toggle {
		top: 3%;
		border: 1px solid #3fedb1;
	}

	.bar {
	    border-bottom: 3px solid #3fedb1;
	}

	.top-bar {
		padding-top: 12px
	}

	.slide-menu {
		width: 350px;
		background: rgba(0, 0, 0, 0.88);
	}

	.slide-off-screen {
		left: -350px;
	}

	.mobile-map-button {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
	/* styles applied above 1000px */
	.map-info {
		padding: 2em;
		top: 60%;
		background: rgba(19, 19, 18, 0.96);
		border-top: 1px solid #3fedb1;
	}
}

@media only screen and (min-width: 1200px) {
	/* styles applied above 1200px */
	body {
		font: 16px/1.5em "Oxygen", sans-serif;
	}

	h1 {
		font: 2.5em/1.5em "Jura", sans-serif;
	}
}

/* #1. hiding scrollbar reference - https://blogs.msdn.microsoft.com/kurlak/2013/11/03/hiding-vertical-scrollbars-with-pure-css-in-chrome-ie-6-firefox-opera-and-safari */